@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Inter:wght@200;500;800&display=swap");

:root {
  --main-color: #fffcf6;
  --secondary-color: #741708;
  --blue-color: #192938;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "Alkatra", cursive;
  /* font-family: "Inter", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ************************* */
/* ***** Main Classes ****** */
/* ************************* */
.container {
  margin: 0 auto;
  max-width: 120rem;
  /* padding: 0 6.2rem; */
}
.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.blue {
  font-size: 3.4rem;
  color: var(--blue-color);
}

.red {
  font-size: 3.4rem;
  color: var(--secondary-color);
}
